* {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000;
    margin: 1em;
    padding: 5%;
    font-size: 1.25em;
    line-height: 1.5em;
}

section {
    width: 100%;
    max-width: 720px;
}

div.col {
    padding-top: 2.5em;
}

p {
    padding-bottom: 1em;
}

a {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

a:visited {
    color: purple;
    border-bottom: 1px solid purple;
}

a:hover {
    color: blue;
    border-color: blue;
}

a:active {
    color: blue;
    border-color: blue;
}

h2 {
    text-transform: uppercase;
    font-size: .65em;
    padding-bottom: 1.5em;
}

ul {
    list-style-type: none;
    line-height: 1.5em;
}

em {
    color:gray;
    font-weight:200;
    clear:left;
    display:block;
    padding-bottom:1em;
}

h3{font-size:.55em;}

@media only screen and (min-width: 667px) {
  body{
    font-size:1.75em;}

    div.col {
        width: 33.33%;
        display: block;
        float: left;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
        color: #fff;
    }

    a {
        color: #4fc3f7;
        text-decoration: none;
        border-bottom: 1px solid #4fc3f7;
    }
    
    a:visited {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    
    a:hover {
        color: #4fc3f7;
        border-color: #4fc3f7;
    }
    
    a:active {
        color: #4fc3f7;
        border-color: #4fc3f7;
    }
  }